In [1]:
l =[1,2,3,4,5,6,7,8,9]
for i in l:
    print(i)
    if i ==5:
        break

1
2
3
4
5

Iterate through a list and stop when encountering a specific element:

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7]
for item in my_list:
    if item == 5:
        break
    print(item)

1
2
3
4

Write a program to skip printing even numbers from  to 1,10

In [3]:
for i in range(10):
    if i % 2 ==0:
        continue
    print(i)

1
3
5
7
9

Print numbers from 0 to 9 using range

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Print multiplication tables from 1 to 5, stopping after the first table for each number:
python

In [11]:
for i in range(1, 6):
    for j in range(1, 11):
        print(i, "x", j, "=", i * j)
    print()  # adding an empty line after each table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Skip printing even numbers using a while loop:
python

In [1]:
num = 0
while num <= 10:
    if num % 2 == 0:
        num += 1
        continue
    print(num)
    num += 1

1
3
5
7
9